@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000;
}
body {
	background-color: #FFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.login_textbox{
	width:200px;
	color:#F00;
	background-color:#FFF;
	border:#F00 solid 1px;
	height:30px;	
}

.login_box{
	color:#F00;
	background-color:#FFF;
	border:#F00 solid 1px;
}